.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: cadetblue;
}

.App {
  margin: 20px;
  text-align: center;
}
form {
  background-color: rgb(44, 59, 59);
  padding: 20px;
}

li {
  list-style: none;
  margin: 10px;
}
